/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-reg.ttf);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

* {
    font-family: inter;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #061745; /* For browsers that do not support gradients */
    background-image: linear-gradient(#0684F9, #061745);
    width: 115px;
}

.sidebar-header {
    text-align: center;
    color: white;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

    .nav-link:hover {
        background-color: #aaa;
        color: #fff;
    }

.rounded {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.MonitorForm {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%; /*copied from figma*/
    background: #D6D6D6;
    border-top-left-radius: 49px;
    border-bottom-left-radius: 49px;
    padding-left: 90px; /*not sure what */
}

.avabar {
    border-radius: 5%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 90px;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #D6D6D6; /*  #D6D6D6; */
    width: 400px;
    border: 1px solid black;
}

.avacontent {
    text-align: center;
}

.btnimg2 {
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: -10px;
    position: center;
    border: solid black 2px;
}

.btnimg3 {
    margin-top: 10px;
    margin-left: -120px;
    margin-bottom: 30px;
    height: 85px;
    width: 85px;
    position: center;
}

#ImageButton3 {
    width: 40px;
    height: 40px;
}

.uname {
    text-align: center;
    margin-left: 30px;
}

#cplink {
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    position: center;
    margin-left: 30px;
}

#lglink {
    text-decoration: none;
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-right: 3px;
    text-align: center;
}

.logout1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hidden {
    width: 0;
    padding: 0;
    min-width: 0;
    transition: all 1s;
}

.warning {
    color: red;
    display: block;
}

.gone {
    display: none;
}


.stTable {
    width: 900px;
    padding-left: 22px;
}

tr {
    border-bottom: 1px solid black;
    height: 40px;
}

td:first-child {
    padding-left: 22px;
}

td:last-child {
    text-align: center;
}

tr:last-child {
    border: none;
}



.button {
    border-radius: 12px;
    background-color: #ffbb00;
    border: 0;
    font-weight: bold;
    font-size: 18px;
}

#headerButton {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 10px;
    margin-top: 30px;
}

.xbutton {
    width: 25px;
}

.container {
    margin-left: 195px;
}

h2, #formHeader {
    font-size: 40px;
}


.formfield {
    width: 75%;
    height: 30px;
}

#formButtons {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
}

.MonitorForm label {
    font-size: 20px;
}

/* DASHBOARD STUDENT VIEW*/

.labcard {

    width: 350px;
    height: 210px;
    background: linear-gradient(180deg, rgba(30, 157, 249, 0) 0%, #0684F9 100%);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 42px;
    color: black;

}

.htags {
    display:flex;
    justify-content:space-between;
}

.lbn {
    margin-left: 25px;
}

.rn {
    margin-right: 35px;
}

.cardcontent {
    margin-top:2px;
    margin-left: 25px;
    display:flex;
    justify-content:space-between;
}

.imgbk {
    display:flex;
    margin-right:15px;
    margin-top:20px;
    height:150px;
    width:150px;
}

.footer {
    position:fixed;
    bottom:0;
}


.labs-header {
    display: flex;
    align-items: center;
}
.labs-header h2 {
    margin-right: 10px;
}